<mat-toolbar color=primary>
    <!-- <span class="glyphicon glyphicon-home"></span> -->
            <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Recipe App</button>
  <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/discover">Discover</button>
  
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="/products">Products</button>
  <span style="flex:1 1 auto"></span>
  <button mat-button routerLinkActive="active" *ngIf="!userLoggedIn()" routerLink="/login">Login</button>
  <button mat-button routerLinkActive="active" routerLink="/signup">Register</button>
  <!-- <span class="fill-remaining-space"></span> -->
</mat-toolbar>