#bannerimage {
    width: 100%;
    background-image: url(http://deliciousliving.com/site-files/deliciousliving.com/files/gallery_images/rawrecipes-dlgallery.png);
    height: 405px;
    background-color: purple;
    background-position: center;
  }
  