<mat-card>
  <mat-card-header>
      <mat-card-title>
          <h4>Register New User</h4>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form>
          <mat-input-container>
              <input [(ngModel)]="email" name="email" matInput placeholder="email" type="email">
          </mat-input-container>
          <mat-input-container>
              <input [(ngModel)]="pwd" name="password" matInput placeholder="password" type="password">
          </mat-input-container>
          <br>
          <mat-input-container>
              <input [(ngModel)]="name" name="name" matInput placeholder="name">
          </mat-input-container>
          <br>
          <mat-input-container style="width: 100%">
              <textarea [(ngModel)]="description" name="description" matInput placeholder="description"></textarea>
          </mat-input-container>
          <br>
          <button (click)="register()" mat-raised-button color="primary">Register</button>
      </form>
  </mat-card-content>
</mat-card>